<%- include("templates/header", {
    title: "Account Already Exists"
}) %>

The Email "<%= email %>" Has Already Been Taken<br><br>
</ul><a href="/signup">Try Again</a>

<% include("templates/footer") %>