<%- include("templates/header", {
    title: "Account Already Exists"
}) %>

<div class="container mt-5 text-center">
    <div class="alert alert-warning" role="alert">
        The Email "<%= email %>" Has Already Been Taken.
    </div>
    <a href="/signup" class="btn btn-primary">Try Again</a>
</div>

<%- include("templates/footer") %>
