<%- include("templates/header", {
    title: "Invalid Login"
}) %>

<div class="container mt-5 text-center">
    <div class="alert alert-danger" role="alert">
        Invalid Email/Password Combination.
    </div>
    <a href='/login' class="btn btn-primary">Try Again</a>
</div>

<%- include("templates/footer") %>
