<%- include("templates/header", {
    title: "Sign Up"
}) %>

<div class="container">
    <h2 class="text-center mb-4">User Sign-Up</h2>
    <form action='/signupSubmit' method='post'>
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input name='username' type='text' class="form-control" id="username" placeholder='Enter your username'>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input name='email' type='text' class="form-control" id="email" placeholder='Enter your email'>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input name='password' type='password' class="form-control" id="password" placeholder='Enter your password'>
        </div>
        <button type="submit" class="btn btn-primary w-100">Sign Up</button>
    </form>
    <div class="text-center mt-3">
        <a href="/login" class="text-decoration-none">Already Have An Account?</a>
    </div>
</div>

<%- include("templates/footer") %>
